.close {
    cursor: pointer;
            span {
                display: block;
                background-color: rgb(105, 105, 105);
                width: 20px;
                height: 4px;
                transform: rotate(45deg) translateX(3px);
                &:nth-child(2) {
                    transform: rotate(-45deg) translateX(2.5px);
                }
            }
}